---
layout: page
title: Blog
nav: true
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-link">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </span>
        <span class="tagbox">
          {% for tag in post.categories %}
          <span class="label label-info">{{ tag }}</span>
          {% endfor %}
        </span>
        <p class="post-preview"> {{ post.content | strip_html | truncatewords: 50 }} </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
